version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-bankdb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: bankdb
      MYSQL_USER: bank
      MYSQL_PASSWORD: bank
    ports:
      - "3306:3306"
    volumes:
      # mount your schema file so it runs on first start
      - ./scrip-creation-bd.sql:/docker-entrypoint-initdb.d/init.sql:ro
  tomcat:
    image: tomcat:11.0.14-jdk25
    ports:
      - "8888:8080"
      - "8443:8443"
      - "5005:5005"
    command: "catalina.sh run"
    volumes:
      #     "host path to the directory with .war file" / "container tomcat directory with webapps"
      - "./target:/usr/local/tomcat/webapps"
      - "./.tomcat/conf/server.xml:/usr/local/tomcat/conf/server.xml:ro"
      - "./.tomcat/tp1-devsec-keystore.jks:/usr/local/tomcat/tp1-devsec-keystore.jks:ro"
    environment:
      JAVA_OPTS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
#      JAVA_OPTS: "JAVA_OPTS -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"